@import url(/CSS/shared.css);
/* header starts */

.header__logo {
  font-weight: 700;
}

.logo__text {
  color: var(--brand-black);
}

.nav__list {
  display: flex;
  gap: 12px;
}

.header__wrapper {
  padding: 11px;
}

.header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header__buttons {
  display: flex;
  gap: 10px;
}

.nav__link {
  color: var(--brand-gray);
  font-weight: 400;
  font-size: 10px;
}

.nav__link:hover {
  color: var(--brand-green);
}

/* header ends */

/* main starts */
.main__title {
  font-size: 40px;
}

.main img {
  width: 840px;
  height: 641px;
}

.main__left {
  display: subgrid;
  flex-direction: column;
  gap: 20px;
}

.main__right {
  width: 655px;
  height: 470px;
}
.main__span {
  color: var(--brand-green);
}

.main__description {
  color: var(--brand-gray);
  padding: 10px 0px;
}

.button {
  background-color: var(--brand-green);
  color: var(--brand-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0px 0px;
  padding: 7px 18px;
  width: 183px;
}

.button:hover {
  background-color: var(--brand-black2);
}

/* main ends */

/* category starts */
.category {
  padding: 100px;
}

.category__boxes {
  display: flex;
  gap: 20px;
}

.box {
  width: 210px;
  height: 141px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--light-gray);
}

.box:hover {
  background-color: var(--brand-green);
}

.box:hover h3 {
  color: var(--brand-white);
}

.box h3 {
  color: var(--brand-black2);
}
/* category ends */

/*about starts */

.about {
  background-color: var(--light-gray);
}

.about__left img {
  width: 840px;
  height: 641px;
}
.about__wrapper {
  display: flex;
}

.about__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about__description {
  color: var(--brand-gray);
}

.about__cards {
  display: flex;
  gap: 30px;
}
.about__card {
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  padding: 20px;
}

/* popular starts */
.popular__title {
  text-align: center;
}

.popular__title-2 {
  text-align: center;
}

.popular__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.popular__card {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}

.popular__card img {
  width: 183px;
  height: 150px;
}

.stars {
  padding: 10px 0px;
}

.popular__card-price {
  text-decoration: line-through;
  color: var(--brand-black2);
  font-size: 12px;
}

.star:hover {
  color: var(--brand-green);
}

.popular__top {
  padding: 0px 0px 20px;
}

/* popular ends */

/* banners starts */
.banners__title {
  color: var(--brand-black);
}

.banners__Subtitle {
  color: var(--brand-red);
}
/* banners ends */
